*{
    margin:0;
    padding:0;

}
 nav{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    padding: 10px;
 }

.logo{
    font-size: 10px;
    color: white;


}

.left-side{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    width: 100px;
}
.btn-nav{
    align-self: center;
    justify-content: center;
    text-align: center;
    height: 10px;
    border-radius: 12px;
    width: 50%;
    margin-right: 10px;
    font-size: 10px;
    align-items: center;
    border-radius: 4px;
    background-color: aqua;
    padding: 2px;
}
.my-img {
    position: relative;
    filter: blur(0.5px);
    width: 100%;
}

.landing-title{
    position: absolute;
    color:rgb(255, 255, 255)
    top: 100px;
    left: 40px;
    font-size: medium;
    font-weight: bolder;
}
.landing-title{
    font-size: 30px;
    font-weight: 60px;
}
.subtitle{
    margin-left: 80px;
}

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}